<!DOCTYPE html>
<html>
<head>
  <title>Engrave</title>
  <%= stylesheet_link_tag    "engrave/application", :media => "all" %>
  <%= javascript_include_tag "engrave/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
