<% cache [ "v1", post ] do %>

<article class="post">
	<h1>
		<div class="permalink_icon"><%= link_to ( raw "&nbsp;" ), post %></div>
		<%= link_to post.title, ( ( post.story_link.nil? || post.story_link.blank? ) ? post : post.story_link ) %>
	</h1>
	<div class="meta">
		<span class="published_at"><%= post.published_at.strftime( "%B %d, %Y") %></span>
	</div>
	<div class="body"><%= Engrave::ApplicationHelper.markdown_to_html post.body %></div>
</article>


<% end %>