<table style="width: 100%">
<% @posts.each do |p| %>
	<tr>
		<td><%= link_to p.title, admin_post_path( p ) %></td>
		<td>
			<%= link_to 'Edit', edit_admin_post_path( p ) %>
		</td>
	</tr>
<% end %>
</table>